.btn {
	border: none;
	background: none;
	outline: none;
	padding: 0;
	display: block;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 800;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	background-color: #00fff6;
	transition: all .3s ease-in-out;
	&:hover, &:focus, &:active {
		background-color: lighten(#00fff6, 30%);
		color: lighten(#000, 15%);
	}
}

.btn--contacts {
	display: block;
	font-weight: 700;
	font-size: 16px;
	color: #00fef5;
	line-height: 26px;
	transition: all .3s ease-in-out;
	text-transform: none;
	background: 0;
	&:hover, &:focus, &:active {
		color: darken(#00fef5, 30%);
	}
}

.btn--payment {
	width: 368px;
	line-height: 4.278;
}

.btn--request {
	width: 268px;
	line-height: 3.3;
}

.btn--direction {
	width: 228px;
	line-height: 3.3;
}

.btn--question {
	width: 442px;
	line-height: 3.3;
}

.btn--review, .btn--stories-request {
	width: 305px;
	font-size: 24px;
	font-weight: 800;
	line-height: 3.7916;
	background: none;
	border: 2px solid #000;
	text-transform: none;
}

.btn--stories-request {
	border-color: #00fff6;
}

.btn--contacts-request {
	width: 214px;
	line-height: 3.3;
}

.btn--company, .btn--services {
	border: none;
	background: none;
	outline: none;
	padding: 0;
	text-transform: uppercase;	
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	transition: all .3s ease-in-out;
	&:hover, &:active, &:focus {
		color: #00fff6;
	}	
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.btn {
		font-size: 16px;
	}
}