.questions-block {
	overflow: hidden;
	&__container {
		position: relative;
		margin-bottom: 80px;
		display: flex;
		flex-direction: column;
	}
	&__list {
		display: flex;
		flex-direction: column;
	}
	&__request-btn {
		display: flex;
	}
	&__title {
		display: block;
		font-size: 48px;
		font-weight: 800;
		margin-bottom: 38px;
	}
	&__card {
		width: 640px;
		transition: all .3s ease-in-out;
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
	&__heading {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
		height: 60px;
		padding-left: 36px;
		transition: all .3s ease-in-out;	
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__body {
		padding: 18px 35px 26px 35px;
		transition: all .3s ease-in-out;
	}
	&__article {
		font-size: 20px;
		font-weight: 800;
		color: #00bcbe;
		margin: 0;
		width: 600px;
		transition: all .3s ease-in-out;
		&:hover {
			color: darken(#00bcbe, 15%);
		}
	}
	&--plus {
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #00fff6;
		width: 60px;
		height: 60px;
		transition: all .3s ease-in-out;
	}
	&--plus::before,
	&--plus::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 10px;
		width: 16px;
		height: 2px;
		background-color: #000;
		transition: all .3s ease-in-out;
	}
	&--plus::after {
		transform: rotate(90deg);
	}
	&__collapse {
		display: none;
	}
	&__answer {
		margin: 0;
		font-size: 16px;
		font-weight: 300;
		color: #535353;
	}
	&__card.active {
		margin-bottom: 30px;
	}
	&__card.active &--plus::after {
		transform: rotate(0deg);
	}
	&__photo-block {
		position: absolute;
		top: 0;
		right: -344px;
		width: 890px;
		height: 940px;
	}
	&__photo-block img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
		backface-visibility: hidden;
	}
}

@media screen and (max-width: 767px) {
	.questions-block {
		&__container {
			margin-bottom: 50px;
		}
		&__title {
			font-size: 26px;
			margin-bottom: 18px;
			order: 1;			
		}
		&__list {
			order: 3;
			margin-bottom: 30px;
		}
		&__request-btn {
			order: 4;
		}
		&__photo-block {
			position: relative;
			width: 284px;
			height: 252px;
			right: 0;
			order: 2;
			margin-bottom: 18px;
		}
		&__card {
			width: 100%;
		}
		&__article {
			width: 100%;
		}
		.btn--question {
			font-size: 16px;
			height: 80px;
			line-height: 1.2;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.questions-block { 
		&__photo-block {
			display: none;
		}
		&__list {
			margin-bottom: 50px;
		}
	}
}